<h1>
  <%= @restaurant.name %>
</h1>

<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @restaurant.phone_number %>
</p>

<p>
  <strong>Category:</strong>
  <%= @restaurant.category %>
</p>

<p>
  <strong>Review:</strong>
  <%= @restaurant.review %>
</p>

<ul>
<% @restaurant.reviews.each do |review| %>
<li><%= review.content %></li>
<% end %>
</ul>





<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %> |
<%= link_to 'Post Review', new_restaurant_review_path(@restaurant) %>
